 body {
     margin: 0;
     padding: 0;
     overflow: auto;
 }

 .clr {
     clear: both;
 }

 .container {
     width: 80%;
     margin: 3% auto;
 }

 /* Start of Section 1 (WallPaper)  */

 .sec1 {
     background-image: url(Images/Background.jpg);
     background-size: cover;
     height: 100vh;
     overflow: hidden;
 }

 .background {
     background-color: rgba(0, 0, 0, 0.8);
     width: 100%;
     height: 100vh;
     overflow: hidden;
 }

.navigation-bar {
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #333333;
}

 .sec1-nav {
     width: 75%;
     margin: auto;
 }

 .title-nav {
     padding: 18px;
     float: left;
 }

 .title-nav a {
     text-decoration: none;
     font-family: 'Roboto', sans-serif;
     font-size: 24px;
     font-weight: 800;
     color: RGB(255, 48, 91)
 }

 .cont-nav {
     float: right;
 }

 .cont-nav ul {
     list-style: none;
 }

 .cont-nav ul li {
     float: left;
     padding: 5px 10px;
 }

 .cont-nav ul li a {
     text-decoration: none;
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     font-weight: 400;
     color: #FFFFFF;

 }

 .sec1-cont {
     width: 40%;
     margin: 19.5% auto;
     text-align: center;
 }

 .sec1-cont h3 {
     font-size: 24px;
     color: #FFFFFF;
     line-height: 26.4px;
     font-weight: 600;
     margin: 0px 0px 10px;
     font-family: 'Source Sans Pro', sans-serif;
 }

 .sec1-cont h1 {
     font-size: 70px;
     color: #FF305B;
     line-height: 77px;
     margin: 0px 0px 10px;
     font-weight: 700;
     font-family: 'Source Sans Pro', sans-serif;
 }

 .sec1-cont h4 {
     font-size: 26px;
     color: #FFFFFF;
     line-height: 31.2px;
     margin: 0px 0px 10px;
     font-weight: 300;
     font-family: 'Source Sans Pro', sans-serif;
 }

 /* End of Section 1 (WallPaper) */

 /* Start of Section 2 (About) */
 .container-about {
     width: 80%;
     margin: 8% auto;
     /* background-color: tomato; */
 }

 .about-border {
     float: left;
     width: 50%;

 }

 .about-img {
     width: 60%;
     margin: auto;
     box-sizing: border-box;
     border: 8px solid #555555;
     border-radius: 5px;

 }

 .about-img img {
     width: 100%;
     position: relative;
     top: 20px;
     left: 20px;
     overflow: hidden;
     border-radius: 5px;
 }

 .about-cont {
     float: left;
     width: 50%;
     box-sizing: border-box;
 }

 .cont-shape1 {
     width: 4px;
     height: 22px;
     background-color: #ff305b;
     float: left;
 }

 .cont-h2 {
     float: left;
 }

 .about-cont .cont-h2 h2 {
     padding: 0 0 0 13px;
     margin: 0 0 20px;
     color: #333333;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 600;
     line-height: 22px;
     font-size: 34px;
 }

 .about-cont p {
     color: #555555;
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     line-height: 25px;
     margin: 0px 0px 10px;
     padding: 0px 0px 25px;
     font-weight: 400px;
     border-bottom: 1px dashed #999999;
 }

 .about-ul {
     width: 70%;
 }

 .first-ul {
     float: left;
     margin-bottom: 10px;
 }

 .first-ul ul {
     padding: 0;
 }

 .first-ul li {
     padding: 0;
     color: #555555;
     font-size: 16px;
     font-family: 'Roboto', sans-serif;
     line-height: 16px;
     margin: 0px 0px 25px;
     list-style-type: none;
 }

 .second-ul {
     float: right;
     margin-bottom: 10px;
 }

 .second-ul ul {
     padding: 0;
 }

 .second-ul li {
     padding: 0;
     color: #555555;
     font-size: 16px;
     font-family: 'Roboto', sans-serif;
     line-height: 16px;
     margin: 0px 0px 25px;
     list-style-type: none;
 }

 .li-head {
     color: #333333;
     font-size: 16px;
     line-height: 16px;
     font-weight: 600;
 }

 .about-buttons a {
     padding: 15px 40px;
     background-color: #FF305b;
     border: none;
     color: #FFFFFF;
     margin: 0px 10px 0px 0px;
     font-family: 'Roboto', sans-serif;
     border-radius: 4px;
     text-decoration: none;
 }

 /* End of Section 2 (About)  */

 /* Start of Section 3+4* (Our Services) */


 .our-serv {
     background-color: #f1f1f1;
     text-align: center;
 }

 .container1 {
     width: 80%;
     margin: 0 auto;
 }

 .container1 h2 {
     color: #333333;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 40px;
     line-height: 30px;
     font-weight: 700;
     margin: 40px 0px 0px;
     padding: 50px 0px 15px;
 }

 .line2 {
     width: 160px;
     height: 1px;
     background-color: #FF305B;
     margin: 3px auto 0px;
 }

 .line1 {
     width: 70px;
     height: 1px;
     background-color: #FF305B;
     margin: 3px auto 0px;
 }

 .info1 {
     float: left;
     width: 25%;
     box-sizing: border-box;
     padding: 10px;
     padding-bottom: 50px;
 }

 .info1 h3 {
     font-family: 'Source Sans Pro', sans-serif;
     color: #333333;
     font-size: 24px;
     line-height: 26.4px;
     margin-bottom: 15px;
     font-weight: 600;
 }

 .info1 p {
     color: #555555;
     font-family: 'Roboto', sans-serif;
     line-height: 25px;
     font-weight: 400;
 }

 /* End of Section 3+4* (Our Services) */

 /* Continue  part 4 (Portfolio) */

 .our-portfolio {
     text-align: center;
 }

 .buttons {
     margin: 50px auto 0px;
 }

 .buttons button {
     color: #333333;
     font-family: 'Roboto', sans-serif;
     line-height: 25px;
     letter-spacing: 1px;
     padding: 3px 12px;
     font-weight: 400;
     border: none;
     font-size: 16px;
     margin: 0;
     background-color: transparent;
 }

 .prod1 {
     float: left;
     width: 33.33%;
     box-sizing: border-box;
     padding: 15px 15px;
 }

 .prod1 img {
     width: 100%;
 }

 /* Start of Section 5 (work-info) */

 .work-info {
     background-color: #f1f1f1;
 }

 .container-info {
     width: 80%;
     margin: 5% auto;
     padding: 30px;
 }

 .info2 {
     text-align: center;
     float: left;
     width: 25%;
     padding: 50px;
     box-sizing: border-box;
 }

 .info2 h3 {
     color: #333333;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 26px;
     line-height: 28.6px;
     margin: 10 0 0px;
     padding: 0;
     font-weight: 700;
 }

 .info2 h5 {
     color: #555555;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 16px;
     line-height: 17.6px;
     margin: 10px 0px;
 }

 /* End of Section 5 (work-info) */

 /* Start of Section 6 (Clients-Feedback) */
 .clients-feedback {
     margin-bottom: 5%;
 }

 .clients-feedback h2 {
     color: #333333;
     font-size: 40px;
     font-family: 'Source Sans Pro', sans-serif;
     line-height: 30px;
     margin: 0px 0px 20px;
     padding: 10px 0px 0px;
     font-weight: 700;
     text-align: center;
 }

 .triangle {
     height: 0px;
     width: 0px;
     border-top: 200px solid #ff305b;
     border-right: 200px solid transparent;
     border-radius: 5px;
     float: left;
     position: relative;
     top: 30px;
     left: 380px;
 }

 .client-info {
     background-color: #f1f1f1;
     width: 50%;
     margin: 2% auto 10px;
     border-radius: 5px;
     padding: 45px;
     box-sizing: border-box;
 }


 .client-img {
     float: left;
     width: 15%;
     position: relative;
     top: 10px;
     z-index: 30;
 }

 .client-img img {
     border-radius: 50%;
     width: 100%;
 }

 .client-cont {
     float: right;
     width: 80%;
     box-sizing: border-box;
 }

 .client-cont h3 {
     color: #333333;
     font-size: 26px;
     font-family: 'Source Sans Pro', sans-serif;
     line-height: 28.6px;
     font-weight: 600;
     margin: 0px 0px 10px;
     padding: 0;
 }

 .client-cont a {
     color: #777777;
     font-size: 15px;
     font-family: 'Source Sans Pro', sans-serif;
     line-height: 16.5px;
     font-weight: 600;
     margin: 0px;
     padding: 0;
     text-decoration: none;
 }

 .client-cont p {
     color: #555555;
     font-size: 16px;
     font-family: 'Roboto', sans-serif;
     line-height: 25px;
     font-weight: 400;
     font-style: italic;
     margin: 10px 0px 15px;
     padding: 0;
 }


 .shapes {
     width: 3%;
     margin: auto;
 }

 .shape-oval {
     float: left;
     width: 25.6px;
     height: 10px;
     background-color: #FF305b;
     border-radius: 12.5px;
 }

 .shape-circle {
     float: right;
     width: 8px;
     height: 8px;
     background-color: transparent;
     border-radius: 50%;
     border: 1px solid #ff305b;
 }

 /* End of Section 6 (Clients-Feedback) */

 /* Start of Section 7 (Blog) */
 .blog {
     background-color: #f1f1f1;
 }

 .blog h2 {
     text-align: center;
     color: #333333;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 40px;
     line-height: 30px;
     margin: 15px 0px 20px;
     padding: 7% 0px 0px;
 }

 .container-1 {
     padding: 2%;
     width: 80%;
     margin: auto;
 }

 .detail1 {
     float: left;
     width: 33.33%;
     margin: auto;
     box-sizing: border-box;
     padding: 15px 15px 7%;
 }

 .inner {
     background-color: #FFFFFF;
     padding-bottom: 25px;
 }

 .inner img {
     width: 100%;
 }

 .margin {
     width: 90%;
     margin: auto;
 }

 .first-p {
     padding: 15px 0px 0px;
     color: #555555;
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     font-weight: 400;
     margin: 0px 0px 10px;
     line-height: 25px;
 }

 .first-a {
     color: #333333;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 24px;
     line-height: 26.4px;
     font-weight: 600;
 }

 .second-p {
     color: #555555;
     font-family: 'Roboto', sans-serif;
     line-height: 25px;
     font-weight: 400;
     margin: 10px 0 15px;
     font-size: 16px;
 }

 .second-a {
     color: #333333;
     font-family: 'Roboto', sans-serif;
     font-size: 23px;
     line-height: 26.4px;
     font-weight: 400;
     font-size: 16px;
     text-decoration: underline;
 }

 /* End of Section 7 (Blog) */

 /* Start of Section 8 (form) */

 .contact-us h2 {
     text-align: center;
     color: #333333;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 40px;
     line-height: 30px;
     font-weight: 700;
     margin: 50px 0px 0px;
     padding: 50px 0px 20px;
 }

 .form {
     width: 55%;
     margin: 40px auto;
 }

 .form-sec1 {
     width: 100%;
     text-align: center;
     margin-bottom: 30px;
 }

 .form input {
     height: 40px;
 }

 .name {
     color: #555;
     font-size: 14px;
     padding: 6px 12px;
     width: 45%;
     border-radius: 4px;
     border: 1px solid #ccc;
     background-color: #fff;
     margin-right: 4%;
 }

 .email {
     color: #555;
     font-size: 14px;
     padding: 6px 12px;
     width: 45%;
     border-radius: 4px;
     border: 1px solid #ccc;
     background-color: #fff;
 }

 .form-sec2 {
     width: 100%;
     text-align: center;
     margin-bottom: 30px;
 }

 .subject {
     width: 94.5%;
     color: #555;
     font-size: 14px;
     padding: 6px 12px;
     border-radius: 4px;
     border: 1px solid #ccc;
     background-color: #fff;
 }

 .form-sec3 {
     width: 100%;
     text-align: center;
     margin-bottom: 30px;
 }

 .textarea {
     width: 94.5%;
     color: #555;
     font-size: 14px;
     padding: 6px 12px;
     border-radius: 4px;
     border: 1px solid #ccc;
     background-color: #fff;
 }

 .form-sec3 textarea {
     height: 90px;
     resize: none;
 }

 .form-button {
     width: 94.5%;
     margin: auto;
 }

 .form-button button {
     background-color: #FF305b;
     height: 40px;
     padding: 0 20px;
     border: none;
     color: #FFFFFF;
     line-height: 38px;
     border-radius: 4px;
 }

 /* End of Section 8 (form) */

 /* Start of Section 9 (footer)  */

 .footer {
     background-color: #333333;
     overflow: hidden;
     margin-top: 5%;
 }

 .a-footer {
     text-align: center;
     margin-top: 4%;
     padding-right: 20px;
 }

 .footer p {
     text-align: center;
 }

 .footer p {
     color: #FFffff;
     font-size: 16px;
     font-weight: 400;
     line-height: 25px;
     font-family: 'Roboto', sans-serif;
     padding-bottom: 30px;
 }

 .footer p a {
     color: #FF305b;
     font-size: 16px;
     font-weight: 400;
     line-height: 25px;
     font-family: 'Roboto', sans-serif;
     text-decoration: underline;
 }


 .a-footer a i {
     color: #FFFFFF;
     padding: 0px 0px 0px 20px;
 }


 /* End of Section 9 (footer) */